html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f5f2f0;
  font-family: Denk One;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.columns ol {
  display: flex;
  width: 50%;
}

main {
  background-color: #f5f2f0;
}

ol li {
  background-color: #ede3db;
}

p {
  font-family: Georgia;
  padding-bottom: 1rem;
}

li {
   list-style-type: none;
   border: 2px solid #623b0c;
   border-radius: 8px;
   padding: .5em .75em .6em;
   padding-bottom: 2rem;
 }

a {
  color: #fff;
  background-color: #623b0c;
  font-family: Georgia;
  border-radius: 8px;
  padding: 1rem;
}

a:link {
  text-decoration: none;
}

ol {
  display: flex;
  grid-column-gap: 1rem;
}

h1 {
  color: #623b0c;
}

h2 {
  color: #623b0c;
}
