html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f5f2f0;
  font-family: "Denk One";
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

ol {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  grid-gap: 1rem;
}

main {
  background-color: #f5f2f0;
  padding: .5rem;
}

body {
  margin: 0;
}

ol li {
   background-color: #ede3db;
   list-style-type: none;
   border: 2px solid #623b0c;
   border-radius: 8px;
   padding: .5em .75em .6em;
   padding-bottom: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}

p {
  font-family: Georgia;
  padding-bottom: 1rem;
}

a {
  color: #fff;
  background-color: #623b0c;
  font-family: Georgia;
  border-radius: 8px;
  padding: 1rem;

}

a:link {
  text-decoration: none;
}

h1 {
  color: #623b0c;
}

h2 {
  color: #623b0c;
}
